<%= form_for Location.new, url: locations_path, method: "POST", remote: true, html: { class: "form-horizontal" } do |f| %>
  <%= f.hidden_field :id %>

  <div class="form-group">
    <%= f.label :latitude, class: "col-sm-4 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :latitude, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :longitude, class: "col-sm-4 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :longitude, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-6">
      <div class="checkbox">
        <label>
          <%= f.check_box :public %> Publish this location
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :friend, "Share this location with friends", class: "col-sm-4 control-label" %>
    <div class="col-sm-6">
      <%= collection_select nil, :friend_ids, @user.mutual_friends, :id, :username, { include_blank: 'Select' }, { id: "location-friend-ids", multiple: true, class: "form-control" } %>
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-6">
      <%= f.submit "Save", class: "btn btn-default" %>
    </div>
  </div>
<% end %>
